.order-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
  width: 80%;
  margin: 10px 0px 10px 0px;
  background-color: rgba(248, 248, 255, .8);
}

.card-center {
  text-align: left;
  width: 55%;
}

.card-right p {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 0px 25px 0px;
}

.order-card button {
  font-size: 22px;
  height: 100px;
  width: 175px;
  background-color: red;
  color: white;
}

.order-card button:hover {
  font-style: italic;
}

h2 {
  margin: 0px 0px 25px 0px;
}

img {
  height: 200px;
  width: 225px;
}


